header
    background-color: white
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35)
    height: $header-padding
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    z-index: 100
    pre
        display: inline-block
        line-height: 10px
        font-size: .5rem
        text-align: left



